* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: inherit;
}

button {
  all: unset;
  display: inline-block;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #333;
  color: #eee;
  text-transform: capitalize;
}

ul {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin-block: 2rem;
}

.btn {
  font-size: 2rem;
  border: 1px solid lime;
  border-radius: 10px;
  background: transparent;
  padding: 20px;
  transition: 0.3s ease-in-out all;

  &:hover {
    color: #333;
    background-color: lime;
  }
}

.text-red {
  color: red;
}

.text-lime {
  color: lime;
}

.text-sky {
  color: aqua;
}

#todo-form {
  display: flex;
  margin-block: 2rem;

  input {
    font-size: 2rem;
    flex: 1;
    border: 1px solid lime;
    border-radius: 10px 0 0 10px;
    background: transparent;
    padding: 20px;
  }

  button {
    border-left: none;
    border-radius: 0 10px 10px 0;
  }
}

.text-center {
  text-align: center;
}

ul#todos {
  li.todo {
    margin-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;

    input[type="checkbox"]:checked + span.todo-label {
      text-decoration: line-through;
    }

    .edit-todo-input {
      background: transparent;
      outline: none;
      font-size: inherit;
      border: none;
    }

    .actions {
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 1rem;
    }
  }
}
